# 最新 https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# メモリキャッシュサイズ対策
/[Mm]emoryCaptures/

# 録音サイズ対策
/[Rr]ecordings/

# アセットストアのプラグインをignoreしたい場合は#を外してください
# /[Aa]ssets/AssetStoreTools*

# Jetbrains Riderプラグイン
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio
.vs/

# gradleファイル
.gradle/

# 自動VS/MD/Consuloとプロジェクトファイル
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3Dのメタファイル
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3Dのクラッシュレポ
sysinfo.txt

# ビルドファイル
*.apk
*.aab
*.unitypackage
*.app

# 分析ファイル
crashlytics-build.properties

# Adrressファイル
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Androidメタファイル
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*